@if (vehicle(); as vehicle) {
  <button class="btn btn-primary btn-sm !mx-0" (click)="addToCart(vehicle)">Add to Cart</button>

  <table class="table table-vertical">
    <tbody>
      <tr>
        <th>Name</th>
        <td>
          {{ vehicle.name }}
        </td>
      </tr>
      <tr>
        <th>Classification</th>
        <td>{{ vehicle.vehicle_class }}</td>
      </tr>
      <tr>
        <th>Unit Price</th>
        <td>{{ vehicle.cost_in_credits | currency: 'USD' }}</td>
      </tr>
      <tr>
        <th>Crew</th>
        <td>{{ vehicle.crew }}</td>
      </tr>
      <tr>
        <th>Passengers</th>
        <td>{{ vehicle.passengers }}</td>
      </tr>
      <tr>
        <th>Cargo Capacity</th>
        <td>{{ vehicle.cargo_capacity }}</td>
      </tr>
      <tr>
        <th>Films</th>
        <td class="space-x-1">
          @for (film of vehicleFilms(); track $index) {
            <span class="label">{{ film.title }}</span>
          }
        </td>
      </tr>
    </tbody>
  </table>
}
