<section class="space-y-2 mt-5">
  <button class="btn btn-outline" (click)="refresh()">Refresh</button>

  <clr-datagrid class="min-h-[200px]" (clrDgRefresh)="refreshDg($event)" [clrDgLoading]="(vehiclesState$ | async)?.loading === true">
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Model</clr-dg-column>
    <clr-dg-column>Price</clr-dg-column>

    <clr-dg-placeholder>No data found</clr-dg-placeholder>

    @for (vehicle of (vehiclesState$ | async)?.data; track $index) {
      <clr-dg-row [clrDgItem]="vehicle">
        <clr-dg-cell>{{ vehicle.name }}</clr-dg-cell>
        <clr-dg-cell>{{ vehicle.model }}</clr-dg-cell>
        <clr-dg-cell>{{ vehicle.cost_in_credits }}</clr-dg-cell>
      </clr-dg-row>
    }
    <ng-template clrIfDetail let-detail (clrIfDetailChange)="selectVehicle($event)">
      <clr-dg-detail>
        <clr-dg-detail-header>{{ detail.name }}</clr-dg-detail-header>
        <clr-dg-detail-body>
          <!-- demo a way that not passing down the selected vehicle -->
          <app-vehicle-detail />
        </clr-dg-detail-body>
      </clr-dg-detail>
    </ng-template>

    <clr-dg-footer>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ total$ | async }} items
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="(total$ | async) || 0" />
    </clr-dg-footer>
  </clr-datagrid>

  @if ((vehiclesState$ | async)?.error; as error) {
    <clx-alert [error]="error" />
  }
</section>
