<p cds-text class="my-6 text-2xl">GET collection and mutate one without refetch.</p>

<ng-container *ngIf="products$ | async as apiResult">
  <app-spinner *ngIf="apiResult.loading"></app-spinner>

  <div class="grid grid-cols-3 gap-6">
    <div *ngFor="let product of apiResult.data; trackBy: trackByFn" class="card mt-0 flex flex-col">
      <h3 class="card-header">
        {{ product.name }}
      </h3>
      <div class="card-block flex-1">
        <p cds-text>{{ product.description }}</p>
        <time>{{ product.lastModified | date : 'full' }}</time>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="editProduct(product)">Edit</button>
        <button class="btn btn-sm btn-link" (click)="deleteProduct(product)">Delete</button>
      </div>
    </div>
  </div>

  <app-alert *ngIf="apiResult.error" [error]="apiResult.error" class="mb-4"></app-alert>
</ng-container>

<!-- ----------------------------------- modal----------------------------------- -->
<app-product-edit *ngIf="openEditDialog" [(open)]="openEditDialog" [selected]="selected"></app-product-edit>
<app-product-delete *ngIf="openDeleteDialog" [(open)]="openDeleteDialog" [selected]="selected"></app-product-delete>
