<p cds-text class="my-6 text-2xl">GET collection and mutate one without refetch. Using behaviorSubject to store list</p>

<ng-container *ngIf="productsState$ | async as productsState">
  @if (productsState.loading) {
    <clx-spinner />
  }

  @if (productsState.error; as error) {
    <clx-alert [error]="error" class="mb-4" />
  }

  @if (productsState.data; as products) {
    <div class="grid grid-cols-3 gap-6">
      @for (product of products; track $index) {
        <div class="card mt-0 flex flex-col">
          <h3 class="card-header">
            {{ product.name }}
          </h3>
          <div class="card-block flex-1">
            <p cds-text>{{ product.description }}</p>
            <time>{{ product.lastModified | date: 'full' }}</time>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="editProduct(product)">Edit</button>
            <button class="btn btn-sm btn-link" (click)="deleteProduct(product)">Delete</button>
          </div>
        </div>
      }
    </div>
  }
</ng-container>

<!-- ----------------------------------- modal----------------------------------- -->
<app-product-edit-behavior *ngIf="openEditDialog" [(open)]="openEditDialog" [selected]="selected"></app-product-edit-behavior>
<app-product-delete-behavior *ngIf="openDeleteDialog" [(open)]="openDeleteDialog" [selected]="selected"></app-product-delete-behavior>

<!-- ----------------------------------- api----------------------------------- -->
<ng-container *ngIf="trigger$ | async"></ng-container>
